.dark-mode{
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .card {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode .form-control {
    background-color: #2c2c2c;
    color: white;
}

.dark-mode .form-control::placeholder {
    color: #aaaaaa;
}

.dark-mode label {
    color: white;
}